<!DOCTYPE html>
<html lang="en">
<head>
    <title>BGC</title>
    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.1.0.js"</script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js" ></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ static('test.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Board Game Collection</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if request.user.is_authenticated %}
            <a class="nav-item navbar-text"> {{ request.user.username }} </a>
            <a class="nav-item nav-link" href="/logout">logout</a>
          {% else %}
            <a class="nav-item nav-link" href="#">login</a>
            <a class="nav-item nav-link" href="#">signup</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">
      <table class="table table-striped" id="game-list">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <form class="form-inline" id="new-game-form">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon">Search</div>
          <input type="text" class="form-control" name="game_name" type="text" id="new-game" placeholder="Search by name">
        </div>
        <button type="button" id="new-game-post" class="btn btn-primary">add</button>
      </form>

    </div>
</body>
</html>
